*-c.gcno
*-c.gcda
*.gcov
*.o
*.po
*.so
*.d
*~
*.a
*.mk
*-cov-report
*-t
*-c
*-p
*.log
cli
computecli
computefmt
computeservice
computespy
computestate
config
coordinatorcli
coordinatorservice
filesystemcli
filesystemservice
/master
runjob
spawnservice
storagecli
storageservice
storagepool/
storagefmt
storagespy
test
test2
tests/unit/modulelist
