*-c.gcno
*-c.gcda
*.gcov
*.o
*.d
*~
*.a
*.mk
*-cov-report
*-t
*-c
*.log
buildconfig.C
cli
config
computeservice
coordinatorclient
coordinatorservice
/master
spawnservice
storageservice
storageclient
storagepool/
storagefmt
storagespy
test
