#ifndef LIST_TMPL__
#define LIST_TMPL__

#include <stdlib.h>

#include "error.H"
#include "serialise.H"

template <typename t>
list<t>::list(const quickcheck &q)
    : head(NULL),
      tail(NULL) {
    unsigned len((unsigned)q % 128);
    for (unsigned x = 0; x < len; x++) append(q); }

template <typename t>
list<t>::list(deserialise1 &ds)
    : head(NULL),
      tail(NULL) {
    unsigned len(ds);
    if (ds.random()) len %= 100;
    else if (len > 1000000) {
        /* Arbitrary limit. */
        ds.fail(error::overflowed);
        return; }
    while (len != 0) {
        append(ds);
        len--; } }

template <typename t> template <typename ... args> list<t>
list<t>::mk(args...params) {
    list<t> res;
    res.pushtail(params...);
    return res; }

template <typename t> void
list<t>::serialise(serialise1 &s) const {
    unsigned len(length());
    s.push(len);
    for (auto it(start()); !it.finished(); it.next()) s.push(*it); }

template <typename t> struct list<t>::member {
    member *next;
    member *prev;
    t value;
    member(const member &) = delete;
    void operator=(const member &) = delete;
    member(member *_next, member *_prev, bool, const t &v)
        : next(_next), prev(_prev), value(v)
        {}
    template <typename ... args>
    member(member *_next, member *_prev, int, args &&...params)
        : next(_next), prev(_prev), value(std::forward<args>(params)...)
        {}
};

template <typename t>
list<t>::list()
    : head(NULL), tail(NULL)
{
}

template <typename t>
list<t>::list(const list<t> &o)
    : head(NULL),
      tail(NULL) {
    for (auto it(o.start()); !it.finished(); it.next()) {
        pushtail(*it); } }

template <typename t>
list<t>::list(list<t> &&o)
    : head(o.head),
      tail(o.tail) {
    o.head = NULL;
    o.tail = NULL; }

template <typename t> void
list<t>::operator=(const list &o) {
    auto it1(head);
    auto it2(o.head);
    head = NULL;
    tail = NULL;
    while (it1 != NULL && it2 != NULL) {
        it1->value = it2->value;
        tail = it1;
        if (head == NULL) head = it1;
        it1 = it1->next;
        it2 = it2->next; }
    if (it1) {
        if (tail) tail->next = NULL;
        while (it1) {
            it2 = it1->next;
            delete it1;
            it1 = it2; } }
    else {
        while (it2) {
            append(it2->value);
            it2 = it2->next; } } }

template <typename t> list<t>
list<t>::steal() {
    list res;
    res.head = head;
    res.tail = tail;
    head = NULL;
    tail = NULL;
    return res; }

template <typename t>
list<t>::~list() {
    flush();
    assert(empty()); }

template <typename t> void
list<t>::flush() {
    auto i(start());
    while (!i.finished())
        i.remove(); }

template <typename t> void
list<t>::transfer(list &src) {
    if (src.head == NULL) return;
    else if (head == NULL) {
        head = src.head;
        tail = src.tail; }
    else {
        src.head->prev = tail;
        tail->next = src.head;
        tail = src.tail; }
    src.head = NULL;
    src.tail = NULL; }

template <typename t> bool
list<t>::empty() const
{
    assert(!head == !tail);
    return !head;
}

/* Careful: this is sometimes called while the list is being
 * concurrently modified.  If the list is moving between empty and
 * non-empty states when this is called then it doesn't matter what we
 * return, but we do have to not crash. */
template <typename t> bool
list<t>::empty_unsafe() const { return !head; }

template <typename t> unsigned
list<t>::length() const {
    unsigned acc = 0;
    for (auto it(start()); !it.finished(); it.next()) acc++;
    return acc; }

template <typename t> t
list<t>::pophead()
{
    assert(!empty());
    auto i(start());
    t res = *i;
    i.remove();
    return res;
}

template <typename t> void
list<t>::drophead() { start().remove(); }

template <typename t> t
list<t>::poptail()
{
    assert(!empty());
    auto i(reverse());
    t res = *i;
    i.remove();
    return res;
}

template <typename t> const t &
list<t>::peekhead() const {
    assert(!empty());
    return *start(); }

template <typename t> t &
list<t>::peekhead() {
    assert(!empty());
    return *start(); }

template <typename t> void
list<t>::pushhead(const t &what)
{
    auto m(new member(head, NULL, true, what));
    if (head) {
        assert(tail);
        head->prev = m;
    } else {
        assert(!tail);
        tail = m;
    }
    head = m;
}

template <typename t> void
list<t>::pushtail() {}

template <typename t> template <typename ... args> void
list<t>::pushtail(const t &first, args &&...rest)
{
    auto m(new member(NULL, tail, false, first));
    if (tail) {
        assert(head);
        tail->next = m;
    } else {
        assert(!head);
        head = m;
    }
    tail = m;
    pushtail(std::forward<args>(rest)...); }

template <typename t> t &
list<t>::idx(unsigned x) {
    for (auto it(start()); true; it.next()) {
        if (!x) return *it;
        x--; } }

template <typename t> const t &
list<t>::idx(unsigned x) const {
    for (auto it(start()); true; it.next()) {
        if (!x) return *it;
        x--; } }

template <typename t> template <typename ... args> t &
list<t>::append(args &&... params)
{
    auto m(new member(NULL, tail, 73, std::forward<args>(params)...));
    if (tail) {
        assert(head);
        tail->next = m;
    } else {
        assert(!head);
        head = m;
    }
    tail = m;
    return m->value;
}

template <typename t> template <typename ... args> t &
list<t>::prepend(args &&... params)
{
    auto m(new member(head, NULL, 73, std::forward<args>(params)...));
    if (head) {
        assert(tail);
        head->prev = m;
    } else {
        assert(!tail);
        tail = m;
    }
    head = m;
    return m->value;
}

template <typename t> typename list<t>::iter
list<t>::start()
{
    return list<t>::iter(this, false);
}

template <typename t> typename list<t>::iter
list<t>::reverse()
{
    return list<t>::iter(this, true);
}

template <typename t> bool
list<t>::iter::finished() const
{
    return cursor == NULL;
}

template <typename t>
list<t>::iter::iter(list *_owner,
                    bool _reverse)
    : owner(_owner),
      cursor(_reverse
             ? owner->tail
             : owner->head),
      reverse(_reverse)
{}

template <typename t> void
list<t>::iter::next()
{
    assert(!finished());
    cursor = reverse
        ? cursor->prev
        : cursor->next;
}

template <typename t> t &
list<t>::iter::operator*()
{
    assert(!finished());
    return cursor->value;
}

template <typename t> t *
list<t>::iter::operator->()
{
    assert(!finished());
    return &cursor->value;
}

template <typename t> const t &
list<t>::iter::operator*() const
{
    assert(!finished());
    return cursor->value;
}

template <typename t> const t *
list<t>::iter::operator->() const
{
    assert(!finished());
    return &cursor->value;
}

template <typename t> void
list<t>::iter::remove()
{
    assert(!finished());
    member *n = reverse
        ? cursor->prev
        : cursor->next;
    if (cursor->next) {
        cursor->next->prev = cursor->prev;
    } else {
        assert(cursor == owner->tail);
        owner->tail = cursor->prev;
    }
    if (cursor->prev) {
        cursor->prev->next = cursor->next;
    } else {
        assert(cursor == owner->head);
        owner->head = cursor->next;
    }
    delete cursor;
    cursor = n;
}

template <typename t> typename list<t>::const_iter
list<t>::start() const
{
    return list<t>::const_iter(this, false);
}

template <typename t> bool
list<t>::const_iter::finished() const
{
    return cursor == NULL;
}

template <typename t>
list<t>::const_iter::const_iter(const list *_owner,
                                bool _reverse)
    : owner(_owner),
      cursor(_reverse
             ? _owner->tail
             : _owner->head),
      reverse(_reverse)
{}

template <typename t> void
list<t>::const_iter::next()
{
    assert(!finished());
    cursor = reverse
        ? cursor->prev
        : cursor->next;
}

template <typename t> const t &
list<t>::const_iter::operator*() const
{
    assert(!finished());
    return cursor->value;
}

template <typename t> const t *
list<t>::const_iter::operator->() const
{
    assert(!finished());
    return &cursor->value;
}

template <typename t> bool
list<t>::contains(const t &what) const {
    for (auto it(start()); !it.finished(); it.next()) {
        if (*it == what) return true; }
    return false; }

template <typename t> void
list<t>::sanitycheck() const
{
    const member *cursor1;
    const member *cursor2;

    cursor1 = head;
    if (cursor1 == tail) {
        assert(!cursor1 || !cursor1->next);
        return;
    }
    assert(cursor1);
    assert(!cursor1->prev);
    /* Cursor1 advances twice as fast as cursor2, to check for
     * cycles. */
    cursor2 = head;
    while (1) {
        cursor1 = cursor1->next;
        assert(cursor1);
        assert((cursor1->next == NULL) == (cursor1 == tail));
        assert((cursor1->prev == NULL) == (cursor1 == head));
        assert(!cursor1->next || cursor1->next->prev == cursor1);
        assert(!cursor1->prev || cursor1->prev->next == cursor1);
        if (cursor1 == tail)
            break;
        assert(cursor1 != cursor2);
        cursor1 = cursor1->next;
        assert(cursor1);
        assert((cursor1->next == NULL) == (cursor1 == tail));
        assert((cursor1->prev == NULL) == (cursor1 == head));
        assert(!cursor1->next || cursor1->next->prev == cursor1);
        assert(!cursor1->prev || cursor1->prev->next == cursor1);
        if (cursor1 == tail)
            break;
        cursor2 = cursor2->next;
    }
}

template <typename t> bool
list<t>::hasdupes() const {
    for (auto it(start()); !it.finished(); it.next()) {
        auto it2(it);
        it2.next();
        while (!it2.finished()) {
            if (*it == *it2) return true;
            it2.next(); } }
    return false; }

template <typename t> template <typename other_t> list<other_t>
list<t>::map(std::function<other_t (const t&)> what) const {
    list<other_t> res;
    for (auto it(start()); !it.finished(); it.next()) {
        res.pushtail(what(*it)); }
    return std::move(res); }

template <typename t> void
sort(list<t> &what, const std::function<bool (const t&a, const t &b)> &ord) {
    /* Insertion sort, because what the hell. */
    /* Everything before cursor1 is sorted. */
    auto cursor1(what.head);
    while (cursor1) {
        auto next(cursor1->next);
        /* Remove cursor1 from current place in list. */
        if (cursor1->next) cursor1->next->prev = cursor1->prev;
        else what.tail = cursor1->prev;
        if (cursor1->prev) cursor1->prev->next = cursor1->next;
        else what.head = cursor1->next;
        /* Insert cursor1 somewhere */
        auto cursor2(cursor1->prev);
        while (cursor2 && ord(cursor2->value, cursor1->value)) {
            cursor2 = cursor2->prev; }
        /* cursor1 should be immediately after cursor2 */
        assert(cursor1 != cursor2);
        cursor1->prev = cursor2;
        if (cursor2 == NULL) {
            /* Insert at start */
            cursor1->next = what.head;
            if (what.head) what.head->prev = cursor1;
            else what.tail = cursor1;
            what.head = cursor1; }
        else {
            cursor1->next = cursor2->next;
            if (cursor2->next) cursor2->next->prev = cursor1;
            else what.tail = cursor1;
            cursor2->next = cursor1; }
        cursor1 = next; } }

template <typename t> void
sort(list<t> &what) {
    sort<t>(what, [] (const t &a, const t &b) { return a > b; }); }

template <typename t> bool
list<t>::operator==(const list<t> &o) const {
    auto c1(start());
    auto c2(o.start());
    while (true) {
        if (c1.finished() != c2.finished()) return false;
        if (c1.finished()) return true;
        if (!(*c1 == *c2)) return false;
        c1.next();
        c2.next(); } }

template <typename t, typename ... args> list<t>
mklist(const t &first, args &&...rest) {
    return list<t>::mk(first, std::forward<args>(rest)...); }

template <typename t> template <typename ... args>
list<t>::partial::partial(args &&...params)
    : member(NULL, NULL, 5, std::forward<args>(params)...) {}

template <typename t> template <typename ... args>
    nnp<typename list<t>::partial>
list<t>::mkpartial(args &&...params) {
    return _nnp(*new partial(std::forward<args>(params)...)); }

template <typename t> t &
list<t>::partial::val() { return member::value; }

template <typename t> const t &
list<t>::partial::val() const { return member::value; }

template <typename t> t &
list<t>::pushtail(nnp<partial> what) {
    assert(what->next == NULL);
    assert(what->prev == NULL);
    what->prev = tail;
    if (tail == NULL) {
        assert(head == NULL);
        head = what; }
    else {
        assert(tail->next == NULL);
        tail->next = what; }
    tail = what;
    return what->value; }

template <typename t> void
list<t>::drop(const t &what) {
    bool found = false;
    bool remove;
    for (auto it(start()); !it.finished(); remove ? it.remove() : it.next()) {
        remove = *it == what;
        if (found) assert(!remove);
        else found = remove; }
    assert(found); }

template <typename t> void
list<t>::drop(const t *what) {
    /* There's a really obvious optimisation for this using
     * containerof, which I'm ignoring in favour of something which
     * makes errors marginally more obvious.  That might turn out to
     * be a mistake. */
    for (auto it(start()); true; it.next()) {
        if (&*it == what) {
            it.remove();
            return; } } }

#endif /* !LIST_TMPL__ */
