#ifndef MAYBE_TMPL__
#define MAYBE_TMPL__

#include "parsers.H"
#include "serialise.H"

template <typename t>
maybe<t>::maybe(quickcheck &o)
    : r(o) {
    if (!r) new (content) t(o); }

template <typename t> const fields::field &
maybe<t>::field() const {
    if (isnothing()) return fields::mk("Nothing");
    else return "<" + just().field() + ">"; }

template <typename t> template <typename ... args> void
maybe<t>::mkjust(args &&...params) {
    if (!r) just().~t();
    r = false;
    ::new (content) t(std::forward<args>(params)...); }

template <typename t> void
maybe<t>::serialise(serialise1 &s) const {
    s.push(r);
    if (isjust()) s.push(just()); }

template <typename t>
maybe<t>::maybe(deserialise1 &ds)
    : r(ds) {
    if (!r) new (content) t(ds); }

template <typename t> void
maybe<t>::operator=(deserialise1 &ds) {
    bool newr(ds);
    if (newr) {
        if (r) { }
        else {
            ((t *)content)->~t();
            r = true; } }
    else {
        if (!r) *((t *)content) = ds;
        else {
            new (content) t(ds);
            r = false; } } }

namespace parsers {
template <typename t> const parser<maybe<t> > &
_maybe(const parser<t> &underlying) {
    return strmatcher("Nothing", maybe<t>(Nothing)) ||
        ("<" + underlying + ">").map<maybe<t> >(
            [] (const t &x) { return maybe<t>(x); }); } }

#endif /* !MAYBE_TMPL__ */
