#ifndef THREAD2_TMPL__
#define THREAD2_TMPL__

#include "thread2.H"

#include <pthread.h>
#include <string.h>

#include "error.H"
#include "fields.H"

template <typename t, typename ... args> static t *thread2::spawn(
    const fields::field &name,
    args...params) {
    auto res = new t(params...);
    res->name = strdup(name.c_str());
    if (pthread_create(&res->thr,
                       NULL,
                       pthreadstart,
                       static_cast<thread2 *>(res)) != 0) {
        error::from_errno().fatal("spawn thread " + name); }
    return res; }

#endif /* !THREAD2_TMPL__ */
