#ifndef THREAD2_TMPL__
#define THREAD2_TMPL__

#include "thread2.H"

#include <pthread.h>
#include <string.h>

#include "error.H"
#include "fields.H"

template <typename t, typename ... args> t *thread2::spawn(
    const fields::field &name,
    args...params) {
    auto res = new t(constoken(), params...);
    thread2 *rr = res;
    rr->name = strdup(name.c_str());
    if (pthread_create(&rr->thr,
                       NULL,
                       pthreadstart,
                       rr) != 0) {
        error::from_errno().fatal("spawn thread " + name); }
    return res; }

#endif /* !THREAD2_TMPL__ */
