#ifndef WAITBOX_TMPL__
#define WAITBOX_TMPL__

#include "waitbox.H"

#include "maybe.tmpl"

template <typename t> bool
waitbox<t>::ready() const {
    auto token(mux.lock());
    auto res(content.isjust());
    mux.unlock(&token);
    return res; }

template <typename t> const t &
waitbox<t>::get(clientio io) const {
    subscriber sub;
    subscription s(sub, pub_);
    while (!ready()) sub.wait(io);
    return content.just(); }

template <typename t> t
waitbox<t>::get(_Steal s, clientio io) {
    subscriber sub;
    {   subscription ss(sub, pub_);
        while (!ready()) sub.wait(io); }
    return content.just(s); }

template <typename t> maybe<t>
waitbox<t>::poll() const {
    auto token(mux.lock());
    auto res(content);
    mux.unlock(&token);
    return res; }

template <typename t> void
waitbox<t>::set(const t &v) {
    assert(!ready());
    auto token(mux.lock());
    content = v;
    mux.unlock(&token);
    pub_.publish(); }

#endif /* !WAITBOX_TMPL__ */
