#ifndef WAITBOX_TMPL__
#define WAITBOX_TMPL__

#include "waitbox.H"

template <typename t> bool
waitbox<t>::ready() const {
    auto token(mux.lock());
    auto res(content.isjust());
    mux.unlock(&token);
    return res; }

template <typename t> const t &
waitbox<t>::get(clientio io) const {
    subscriber sub;
    subscription s(sub, pub);
    while (!ready()) sub.wait(io);
    return content.just(); }

template <typename t> void
waitbox<t>::set(const t &v) {
    assert(!ready());
    auto token(mux.lock());
    content = v;
    mux.unlock(&token);
    pub_.publish(); }

#endif /* !WAITBOX_TMPL__ */
