#ifndef WAITQUEUE_TMPL__
#define WAITQUEUE_TMPL__

#include "list.tmpl"

template <typename t> t
waitqueue<t>::pophead()
{
    auto token(mux.lock());
    auto res(content.pophead());
    mux.unlock(&token);
    return res;
}

template <typename t> void
waitqueue<t>::pushtail(const t &what)
{
    auto token(mux.lock());
    content.append() = what;
    mux.unlock(&token);
    pub_.publish();
}

template <typename t> bool
waitqueue<t>::empty() const
{
    bool res;

    auto token(mux.lock());
    res = content.empty();
    mux.unlock(&token);
    return res;
}

#endif /* !WAITQUEUE_TMPL__ */
